# iam_service configuration
DB_URI: "postgresql+asyncpg://postgres:postgres@localhost:5432/iam"
MIGRATION_DB_URI: "postgresql://postgres:postgres@localhost:5432/iam"
REDIS_URL: "redis://localhost:6379/0"
CACHE_BACKEND: "redis"
CORS_ORIGINS: ["http://localhost:3000"]
API_PREFIX: "/api"
API_PORT: 8001
API_HOST: "0.0.0.0"
CORS_ALLOW_CREDENTIALS: true
LOG_LEVEL: "INFO"
ENABLE_LOGGING_MIDDLEWARE: 1
AUTH_DISABLED: false
ENABLE_SENTRY: 0
DSN_SENTRY: ""
SENTRY_ENVIRONMENT: "dev"
